@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Source+Sans+Pro:wght@200&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body::-webkit-scrollbar {
  display: none;
  overflow-y: scroll;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #FCB549;
  color: #333;
  line-height: 1.6;
}

.navbar {
  background-color: #E6954E;
  color: #fff;
  height: 70px;
  position: fixed;
  width: 100%;
}
.navbar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
  max-width: 1500px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}
.navbar__logo {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

.menu__ul {
  list-style-type: none;
  text-decoration: none;
  display: flex;
}
.menu__a {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  margin: 0 5px;
  font-size: 120%;
}
.menu__a:hover {
  border-bottom: 2px #fff solid;
}

.baner {
  width: 100%;
  height: 100%;
}
.baner__glowne {
  height: 1080px;
  min-height: 500px;
  background-image: url("../img/2001_space_oddisey.png");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 40px;
}

.stopka {
  display: flex;
  background-color: #E6954E;
  justify-content: space-evenly;
  color: #fff;
  font-size: 120%;
}
.stopka__ul {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.stopka__napis {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.stopka__p {
  margin: 10px 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  row-gap: 50px;
}
.main__h2 {
  color: #fff;
  font-size: 250%;
  font-weight: 300;
}
.main__p {
  color: #fff;
  font-size: 140%;
  width: 30%;
}
.main__prawaut {
  text-align: center;
  font-size: 14px;
  color: #fff;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
}
.section__kolejnosc {
  display: flex;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.section__h2 {
  color: #fff;
  font-size: 250%;
  font-weight: 300;
}
.section__h3 {
  color: #fff;
  font-size: 130%;
}
.section__p {
  color: #fff;
  font-size: 140%;
}
.section__information {
  background-color: #E6954E;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.section__information:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
}
.categories__kolejnosc {
  display: flex;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.categories__h2 {
  color: #fff;
  font-size: 250%;
  font-weight: 300;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
  margin-bottom: 10%;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card__img {
  border-radius: 5px 5px 0 0;
}
.card__container {
  padding: 2px 16px;
}
.card__h2 {
  color: #fff;
  font-size: 250%;
  font-weight: 300;
}
.card__p {
  color: #fff;
  font-size: 140%;
}
.card__button {
  background-color: #E6954E;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}
.card__button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.top {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #E6954E;
  color: #FFF;
  border-radius: 50px;
  border: none;
  text-align: center;
}/*# sourceMappingURL=style.css.map */